html, body{
	font-family: "open-sans", sans-serif;
	margin: 0;
	padding:  0;
	background-color: white;
	height: 100%;
	background-image: url(images/bckrnd.png);
	background-repeat: no-repeat;
}

.logo-wrapper{
	width:100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-decoration: none;
  }
  
 .launch-logo {
	padding-top: 900px;
	justify-content: center;
	text-align: center;
  }

.main-logo {
	padding-top: 35px;

}

.user_icon{
	padding bottom: 50 px;
	margin-left: 800px;
}
  .navbar {
  	position: fixed;
  	background-color: #042620;
  	display: block;
  	bottom: 30px;
  	left: 50px;
  	text-align: center;
  	justify-content: center;
  	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 60px;
	
  }

.hanger_btn {
	padding-left: 70px;
  	padding-right: 70px;
  	padding-bottom: 30px;

  }

.plus_btn {
	padding-left: 70px;
  	padding-right: 70px;
  	padding-bottom: 33px;

  }

  .shuffle_btn {
  	padding-right: 10px;
  }

.vertical-menu {
  width: 100%;
  overflow: hidden;
}
.vertical-menu a {
  background-color: #734429;
  display: block;
  padding: 35px;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 50px;
  text-align:left;
  color: rgba(255, 255, 255, 0.79);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  mix-blend-mode: multiply;

  }

.camera-wrapper {
	margin: 30px;
	text-align: center;
  	justify-content: center;
	position: fixed;
  	display: block;
  	bottom: 200px;
  	mix-blend-mode: multiply;

}

.button-camera {
	left: 100px;
	border-radius: 40px;
	background-color: #734429;
	padding-top: 10px;
	display: inline-block;
	
}

.opencam {
	background-color: #734429;
}

.closecam {
	background-color: #734429;
	display: none;
}

.snap {
	background-color: #734429;
	display: none;
}

.camera-wrap {
	margin-top: 30px;
}

.list {
	text-align: center;
	position: fixed;
  	display: block;
  	margin-left: 150px;
  	margin-top: 90px;
}

.shuffle_page_button a {

	padding: 35px 100px;
	padding-top 10px;
	gap: 10px;
	position: fixed;
  	display: block;
  	bottom: 350px;
  	left: 225px;
  	font-size: 55px;
  	text-align: center;
  	justify-content: center;
	width: 350px;
	height: 60px;
	background: #042620;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 80px;
	color: white;
	text-decoration: none;
	mix-blend-mode: multiply;

}

 .shuffle_page_button a:hover {
	color: #ffffff;
	
}

.shuffle_page_button_two a {

	padding: 35px 100px;
	padding-top 10px;
	gap: 10px;
	position: fixed;
  	display: block;
  	bottom: 250px;
  	left: 225px;
  	font-size: 55px;
  	text-align: center;
  	justify-content: center;
	width: 350px;
	height: 60px;
	background: #042620;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 80px;
	color: white;
	text-decoration: none;
	mix-blend-mode: multiply;

}

 .shuffle_page_button_two a:hover {
	color: #ffffff;
	
}
h1 {
	color:#042620;
	text-decoration: none;
	font-size: 80px;
	font-family: "open-sans", sans-serif;
	text-align: center;

}

p {
	color:#042620;
	text-decoration: none;
	font-family: "open-sans", sans-serif;
	color:#042620;
	font-size: 45px;
	font-family: "open-sans", sans-serif;
	text-align: center;
}


.clothes_top {
	text-align: center;
	padding-bottom: 10px;
}

.clothes_middle {
	text-align: center;
	padding-bottom: 10px;
}

.clothes_bottom {
	text-align: center;

}

.clothes_top_two {
	text-align: center;
	padding-bottom: 40px;
}

.clothes_middle_two {
	text-align: center;
	padding-bottom: 20px;
	padding-top: 20px;
}

.closet_tops {

	text-align: center;
	padding-bottom: 20px;
	padding-top: 150px;
	padding-left: 20px;


}

.top_text {

	text-align: center;
	padding-bottom: 20px;
	padding-top: 20px;
	padding-left: 20px;

}

.add_placeholder {
	text-align: center;
	mix-blend-mode: multiply;
	padding-top: 200px;
}
.upload {
	text-align: center;
	padding-top: 400px;
	justify-content: center;
	padding-left: 15px;



}
.video, canvas {
	width: 640px;
	height: 480px;
	background-color: #CCCCCC;
}


.machine {
	margin-bottom: 30px;
	height: 16px;
	overflow: hidden;
	background-color: #CCCCCC;
	display: inline-block;
}


		